@{
    Layout = "_Layout.cshtml";
}

@section Styles {
    @RenderSection("Styles", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Rafflesia</a>
        <button type="button" class="btn" data-toggle="collapse" data-target=".sidebar">
            <i class="fa fa-list"></i>
        </button>
    </div>
</nav>
<div class="container-fluid">
    <div class="sidebar sidebar-fixed-left collapse">
        
    </div>
    <div class="content">
        @RenderBody()
    </div>
</div>
<footer class="footer">
    <p class="text-center">Copyright © 2016 Rafflesia</p>
</footer>