@{
    Layout = "_Layout.cshtml";
}

@section Styles {
    @RenderSection("Styles", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand collapse in" href="#">Rafflesia</a>
        <a class="sidebar-toggle" data-toggle="collapse" href=".sidebar, .navbar-brand">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-stack-1x"></i>
            </span>
        </a>
    </div>
</nav>
<div class="container-fluid">
    <div class="sidebar sidebar-fixed-left collapse in">
        
    </div>
    <div class="content">
        @RenderBody()
    </div>
</div>
<footer class="footer">
    <p class="text-center">Copyright © 2016 Rafflesia</p>
</footer>