@{
    Layout = "~/Views/Shared/_ViewLayout.cshtml";

    ViewBag.Title = "Rafflesia UI";
}

@section Toolbar {
    <div class="navbar-btn">
        <a class="btn btn-link dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right col-xs-12">
            <li class="dropdown-header media">
                <div class="media-left media-middle">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-3x"></i>
                        <i class="fa fa-user fa-stack-2x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body media-middle">
                    <h5><strong>Lai Guan Siong</strong><br />wes.01180@gmail.com</h5>
                </div>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-user"></i>&nbsp;My Profile</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-lock"></i>&nbsp;Change Password</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#"><i class="fa fa-fw fa-power-off"></i>&nbsp;Logout</a>
            </li>
        </ul>
    </div>
}

<ul class="tab-nav nav nav-pills">
    <li class="active">
        <a class="text-center" href="#dashboard" data-toggle="tab">
            <i class="fa fa-list-alt fa-2x"></i>
        </a>
    </li>
    <li>
        <a class="text-center" href="#menu" data-toggle="tab">
            <i class="fa fa-th fa-2x"></i>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="dashboard">
    </div>
    <div class="tab-pane" id="menu">
    </div>
</div>
