@{
    Layout = "~/Views/Shared/_ViewLayout.cshtml";

    ViewBag.Title = "Rafflesia UI";
    ViewBag.PreviousUrl = Url.Action("Index", "Home");
}

<ul class="tab-nav nav nav-pills">
    <li class="active">
        <a class="text-center" href="#dashboard" data-toggle="tab">
            <i class="fa fa-list-alt fa-2x"></i>
        </a>
    </li>
    <li>
        <a class="text-center" href="#menu" data-toggle="tab">
            <i class="fa fa-th fa-2x"></i>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="dashboard">

    </div>
    <div class="tab-pane" id="menu">
    </div>
</div>