@{
    Layout = "~/Views/Shared/_ViewLayout.cshtml";

    ViewBag.Title = "Rafflesia UI";
    ViewBag.PreviousUrl = Url.Action("Index", "Home");
}

@section Toolbar {
    <div class="navbar-btn">
        <a class="btn btn-link" href="#filterPanel" data-toggle="collapse">
            <i class="fa fa-search fa-2x"></i>
        </a>
    </div>
    <div class="navbar-btn">
        <a class="btn btn-link" href="#sortPanel" data-toggle="modal">
            <i class="fa fa-sort-amount-asc fa-2x"></i>
        </a>
    </div>
}

@section MoreActions {
    <li>
        <a href="#sortPanel" data-toggle="modal">
            <i class="fa fa-sort-amount-asc fa-fw"></i> Sort By
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#"><i class="fa fa-plus fa-fw"></i> Add</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-print fa-fw"></i> Print</a>
    </li>
}