html,
body {
    height: 100%;
    width: 100%;
}

body > .container-fluid {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 51px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

body > .navbar {
    margin-bottom: 0;
}

body > .navbar > .navbar-btn-group {
    position: relative;
    display: table;
    border-collapse: separate;
    padding: 0;
    margin: 0;
    width: 100%;
}

body > .navbar > .navbar-btn-group > .navbar-btn,
body > .navbar > .navbar-btn-group > .navbar-btn-group {
    display: table-cell;
    vertical-align: middle;
}

body > .navbar > .navbar-btn-group > .navbar-btn {
    white-space: nowrap;
    width: 1%;
}

body > .navbar > .navbar-btn-group > .navbar-btn > .btn {
    border-width: 0;
    padding: 10px 15px;
    min-height: 50px;
}

body > .navbar .navbar-brand,
body > .navbar .navbar-brand:hover,
body > .navbar .navbar-brand:focus {
    float: none;
    font-size: 22px;
    color: #fff;
    padding: 15px 10px;
}

body > .navbar .navbar-btn-group > .navbar-btn:first-child > .navbar-logo {
    margin-left: 10px;
}

body > .navbar .navbar-logo {
    height: 40px;
    width: 40px;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu > li > a {
    padding: 15px 20px;
}

.dropdown-menu .divider {
    margin: 0;
}

.media-body {
    width: 100%;
}

.tab-nav > li {
    display: table-cell;
    float: none;
    width: 1% ;
}

.tab-nav > li > a {
    border-radius: 0;
    margin-bottom: 0;
}

.tab-nav + .tab-content {
    margin-top: -49px;
    padding-top: 49px;
    height: 100%;
}

.tab-nav + .tab-content > .tab-pane {
    padding: 5px;
    height: 100%;
    overflow: auto;
}

.view .modal-dialog {
    margin: 0;
    height: 100%;
    width: 100%;
}

.view .modal-content {
    border: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
}

.view .modal-header {
    padding: 0;
    min-height: 50px;
}

.view .modal-header > .navbar-btn-group {
    position: relative;
    display: table;
    border-collapse: separate;
    padding: 0;
    margin: 0;
    width: 100%;
}

.view .modal-header > .navbar-btn-group > .navbar-btn,
.view .modal-header > .navbar-btn-group > .navbar-btn-group {
    display: table-cell;
    vertical-align: middle;
}

.view .modal-header > .navbar-btn-group > .navbar-btn {
    white-space: nowrap;
    width: 1%;
}

.view .modal-header > .navbar-btn-group > .navbar-btn > .btn {
    border-width: 0;
    padding: 10px 15px;
    min-height: 50px;
}

.view .modal-header .navbar-brand,
.view .modal-header .navbar-brand:hover,
.view .modal-header .navbar-brand:focus {
    float: none;
    font-size: 22px;
    color: #fff;
    padding: 15px 10px;
}

.view .modal-header .navbar-btn-group > .navbar-btn:first-child > .navbar-logo {
    margin-left: 10px;
}

.view .modal-header .navbar-logo {
    height: 40px;
    width: 40px;
}

.view .modal-body {
    height: 100%;
    padding-top: 51px;
    overflow: hidden;
}

#company-file {
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
}

#company-file:hover > .media-right,
#company-file:focus > .media-right {
    border-left: 1px solid #9d9d9d;
}